@charset "UTF-8";

body{
	background-color: azure; /* ========枠外の背景の色======== */
      font-size: 22px; /* ========本文の大きさ======== */
}

#wrap{
	width: 980px; /* ========枠の幅======== */
	margin: 40px auto;  /* ========ブラウザの画面上と枠との距離（右）　autoは左右中央に配置======== */
	padding: 20px 40px;  /* ========枠と文字の一行目との距離（左） 枠から文字までの左右の距離（右）======== */
	background-color: #ffffff; /* ========枠の中の背景の色======== */
        border-style: solid;
        border-width: 1px;
        border-color: darkgreen;
}
/* ========数値の入力する順番…　何かの上の距離の設定 左右の距離の設定 下の距離の設定======== */

li
{
	margin: 20px 0px 20px 0px;
	padding: 0 0 0 10px;
	line-height: 20px;
	border-left: 2px mediumseagreen solid;
}

a.tag:visited 
{
        color: white;
}

a.tag
{
	color: white;
}

a.tag:hover
{
        background-color: darkgreen;
	color: white;
}

h1
{
        color: darkgreen;
        text-align: center
}

h2
{
        color: mediumseagreen;
}

table.style1 {
	border-collapse: separate;
        text-align: center
}

td.style2 {
	background-color: darkgreen;
	text-align: center;
	color: white;
	font-size: large;
        border-style: solid;
        border-width: medium;
        border-color: darkgreen;
}

td.style3 {
	background-color: darkgreen;
	text-align: center;
	color: white;
	font-size: large;
        border-style: solid;
        border-width: medium;
        border-color: darkgreen;
}

span.style5 {
	color: white;
}
